# Ignore compiled Python files
__pycache__/
*.pyc

# Ignore the Django migrations directory
*/migrations/

# Ignore the local development settings file (if you have one)
*/settings/local.py

# Ignore static and media files (if they are served from a different location)
staticfiles/
media/

# Ignore database files (if you use SQLite)
db.sqlite3

# Ignore log files
*.log

# Ignore environment-specific settings files (e.g., .env)
.env

# Ignore any other files or directories you want to exclude

#Ignore API Key
./assistant/secret_key.py